 <h4><%= title %></h4>
 <h6 class="text-muted">by <%= author %></h6>
 <p><%= contentSnippet %></p>
 <div class="pull-right">
     <a href="<%= link %>">&rarr; Read on website &larr; </a>&nbsp;
     <a class="btn btn-primary navigate" href="#articles/<%= id %>">Read More...</a>
 </div>
 <br>